<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a129af2-b20d-40b7-aaab-940ffb677f6c/resourcegroups/kmm/providers/Microsoft.Web/sites/Kinimomo</ResourceId>
    <ResourceGroup>kmm</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kinimomo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kinimomo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Kinimomo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Kinimomo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entity" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kinimomodbserver.database.windows.net,1433;Initial Catalog=SMP;User ID=kinimomo@kinimomodbserver;Password=Password@100%" Name="Data Source=tcp:kinimomodbserver.database.windows.net,1433;Initial Catalog=SMP;User Id=kinimomo@kinimomodbserver;Password=Password@100%" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.Database.Entity, Data" MigrationConfiguration="Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entity-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kinimomodbserver.database.windows.net,1433;Initial Catalog=SMP;User Id=kinimomo@kinimomodbserver;Password=Password@100%</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>